.header {
  position: fixed;  /* 固定定位 */
  top: 0;           /* 距离顶部0像素 */
  left: 0;          /* 距离左侧0像素 */
  width: 100%;      /* 占满整个视口宽度 */
  z-index: 1000;    /* 确保在最顶层 */

  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  border-radius: 0px 0px 5px 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 40px;

}